#navItem1 {
    color: #323f4b;
    font-family: "Roboto";
}

#navItem2 {
    color: #323f4b;
    font-family: "Roboto";
    transition: background-color 0.15s;
}


#navItem3{
    color: #323f4b;
    font-family: "Roboto";
}

#navItem4 {
    color: #323f4b;
    font-family: "Roboto";
}

.food-munch-logo{
    width: 90px;
    height: 90px;
}

.banner-section-bg-container{
    background-image: url("https://png.pngtree.com/thumb_back/fh260/background/20200808/pngtree-orange-gradient-ganesha-background-image_388775.jpg");
    background-size: cover;
    height: 100vh;
}

.banner-heading{
    color: white;
    font-family: "Roboto";
    font-weight: 300;
    font-size: 45px;
}

.banner-caption{
    color: #f5f7fa;
    font-family: "Roboto";
    font-weight: 300;
    font-size: 24px;
}

.bg-custom-button{
    width: 130px;
    height: 45px;
    color: white;
    background-color: #f19d16;
    border-radius: 8px;
    border-width: 0;
    margin-right: 10px;
}

.custom-outline-button{
    width: 130px;
    height: 45px;
    color: black;
    background-color: transparent;
    border-width: 1px;
    border-style: solid;
    border-color: white;
    border-radius: 8px; 
}

.wcu-section{
    background-color: #fafbfe;
}

.wcu-section-heading{
    font-family: "Roboto";
    font-weight: 700;
    font-size: 28px;
    color: #183b56;
}

.wcu-section-description{
    font-family: "Roboto";
    font-size: 16px;
    color: #5a7184;
}

.wcu-card{
    background-color: white;
    text-align: center;
    border-style: solid;
    border-width: 1px;
    border-color: #e5eaf4;
    border-radius: 16px;
}

.wcu-card-image{
    height: 90px;
    width: 87px;
}

.wcu-card-title{
    font-family: "Roboto";
    font-weight: 500;
    font-size: 22px;
    color: #323f4b;
}

.wcu-card-description{
    font-family: "Roboto";
    font-size: 16px;
    color: #7b8794;
}

.offers{
    color: #323f4b;
    font-style: italic;
    font-weight: 600;
}

.explore-menu-section{
    background-color: white;
}

.menu-section-heading{
    font-family: "Roboto";
    font-weight: 700;
    font-size: 28px;
    color: #183b56;
}

.menu-item-image{
    border-radius: 16px;
}

.menu-card-title{
    color: #323f4b;
    font-family: "Roboto";
    font-weight: 500;
    font-size: 18px;
    margin-top: 24px;
}

.menu-item-link{
    color: #f19d16;
    font-family: "Roboto";
    font-weight: 500;
    font-size: 14px;
}

.menu-item-card{
    border-radius: 16px;
}

.healthy-food-section {
    background-color: #f9fbfe;
  }
  .healthy-food-section-img {
    width: 270px;
  }
  .healthy-food-section-heading {
    color: #183b56;
    font-family: "Roboto";
    font-size: 28px;
    font-weight: 700;
  }
  .healthy-food-section-description {
    color: #5a7184;
    font-family: "Roboto";
    font-size: 16px;
  }
  .custom-button {
    color: white;
    background-color: #f19d16;
    width: 130px;
    height: 45px;
    border-width: 0;
    border-radius: 8px;
    margin-right: 10px;
  }
  
  .delivery-and-payment-section {
      background-color: white;
    }
    .delivery-and-payment-section-img {
      width: 270px;
    }
    .delivery-and-payment-section-heading {
      color: #183b56;
      font-family: "Roboto";
      font-size: 28px;
      font-weight: 700;
    }
    .delivery-and-payment-section-description {
      color: #5a7184;
      font-family: "Roboto";
      font-size: 16px;
    }
    .payment-card-img {
      width: 50px;
      height: 50px;
      margin-right: 28px;
    }
    .custom-button {
      color: white;
      background-color: #d0b200;
      width: 130px;
      height: 45px;
      border-width: 0;
      border-radius: 8px;
      margin-right: 10px;
    }
  
    .thanking-customers-section {
      background-image: radial-gradient(#fff8db,#fae38c);
    }
    .thanking-customers-section-heading {
      color: #183b56;
      font-family: "Roboto";
      font-size: 28px;
      font-weight: 700;
    }
    .thanking-customers-section-description {
      color: #5a7184;
      font-family: "Roboto";
      font-size: 16px;
    }
    .thanking-customers-section-img {
      width: 270px;
      margin-bottom: 20px;
    }
    .custom-button {
      color: white;
      background-color: #f19d16;
      width: 130px;
      height: 45px;
      border-width: 0;
      border-radius: 8px;
      margin-right: 10px;
    }

    .follow-us-section-heading{
        text-align: center;
        color: #183b56;
        font-family: "Roboto";
        font-size: 28px;
        font-weight: 700;
      }
      
      .follow-us-section{
          background-color: white;
      }
      
      .icon{
          color: #f19d16;
          font-size: 35px;
      }
      
      .follow-us-icon-container{
          width: 80px;
          height: 80px;
          background-color: #faf7e8;
          padding: 22px 16px 14px 22px;
          margin: 15px;
          border-radius: 40px;
      }

     